body {
    background: #111012;
    color: #434244;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
	text-rendering: optimizeLegibility !important;
    -webkit-text-rendering: optimizeLegibility !important;
}
header, 
section {
    height: 100vh;
}

button, .btn {
    font-family: 'Lobster', cursive;
}

.cover {
	background-size: cover !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
}
.transition {
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}
.opaque {
    background-color: #111012 !important;
}

.preloader {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #111012;
    color: #FFF;
    z-index: 50000;
}
.preloader p {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

.section-title {
    background: url(../img/bg-title-dark.png) left center no-repeat;
    background-size: 100% 100%;
    font-family: 'Lobster', cursive;
    margin: 3rem 30px 0;
}

.section-title h2 {
    font-family: 'Lobster', cursive;
    color: #F0EFEB;
    margin-bottom: 0;
    padding: 1rem 2rem;
}

.overflow {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

/* Lanche do Mes */
.lanche-do-mes .item-text {
    position: relative;
}
.lanche-do-mes .item-text:before {
    content: '';
    display: block;
    background: url(../img/tag-lanchedomes.png) bottom right no-repeat;
    position: absolute;
    top: -117px;
    right: 0;
    width: 117px;
    height: 117px;
    overflow: hidden;
}

/* Galeria */
.galeria {
    flex-grow: 1;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}
.item-group {
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 100%;
}
.item {
    margin: 15px auto;
    overflow: hidden;
    position: relative;
}
.item-bg {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 0;
    z-index: 0;
}
.item-wrap {
    cursor: pointer;
    margin: auto;
    background: transparent;
    border: 1rem solid #f0efeb;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item-title {
    background-color: #F0EFEB;
    color: #EE9D21;
    font-family: 'Addison West Flat', sans-serif;
    font-size: 2rem;
    line-height: 1;
    margin: 0 0 1rem;
    padding: 1rem 1rem 1.25rem;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
}
.item-title .price {
    color: #434244;
}
.item-text {
    background-color: #F0EFEB;
    padding: 1.5rem 1rem 1rem;
    line-height: 1;
    font-size: 1rem;
    font-weight: 300;
    color: #212022;
    margin: 0;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

/* Navegacao */
#nav {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background: #111012;
    color: #F0EFEB;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}
#nav .navbar-toggler img {
    filter: brightness(5);
}

#menu a {
    color: inherit;
    text-transform: uppercase;
    font-family: 'Addison West Flat', sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
    padding-top: 0;
    padding-bottom: 0;
}

#social li a {
    filter: brightness(100);
    width: 25px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
}

/* Intro */
#intro {
    background: url(../img/combo.jpg) center no-repeat fixed;
    background-color: #111012;
}
#intro h2 {
    font-family: 'Lobster', cursive;
    font-size: 6rem;
    line-height: 0.8;
    color: #F0EFEB;
    margin-bottom: 0;
}
#intro h3 {
    font-size: 3rem;
    font-weight: 200;
    line-height: 0.8;
    color: #F0EFEB;
    margin-bottom: 4rem;
    margin-top: 4rem;
}
#intro small {
    color: #EE9D21;
}
#intro a.btn {
    color: #F0EFEB;
    background-color: #EE9D21;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    border-top: 2px solid rgba(233, 231, 221, 0.5);
    border-right: 2px solid rgba(233, 231, 221, 0.5);
    border-radius: 10rem;
    padding: 1.5rem 2.5rem;
    font-size: 2rem;
    text-shadow: 1px 1px 1px #000;
    width: fit-content;
}

/* Sanduíches */
#sanduiches {
    /* background: url(../img/bg-02.jpg) center no-repeat fixed; */
    background: #FFF;
}

/* Fritas */
#fritas {
    /* background: url(../img/bg-03.jpg) center no-repeat fixed; */
    background-color: #E9E7DD;
    height: auto;
    min-height: 70vh;
    padding-bottom: 1rem;
}

/* Milkshakes */
#milkshakes {
    background: url(../img/milkshake-snickers.jpg) center no-repeat fixed;
    position: relative;
}
#milkshakes h2 {
    color: #EE9D21;
    font-size: 4rem;
    font-family: 'Lobster', cursive;
    line-height: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}
#milkshakes p {
    color: #F0EFEB;
    font-size: 3rem;
    line-height: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}
#milkshakes span {
    color: #EE9D21;
    font-size: inherit;
}
#milkshakes button {
    font-size: 2rem;
    border-radius: 1rem;
}
/* Outros */
#outros {
    background: #E9E7DD;
    height: auto;
    padding: 2rem 0;
}
#outros .item-title {
    margin-bottom: 0;
}

/* Sobremesas */
#sobremesas:after {
    content: '';
    display: block;
    width: 1px;
    background: #ccc;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
#sobremesas .section-title {
    background: url(../img/bg-title-light.png) left center no-repeat;
    background-size: 100% 100%;
}

/* Bebidas */
#bebidas .section-title {
    background: transparent;
}
#bebidas .section-title h2 {
    color: #EE9D21;
}

/* Newsletter */
#newsletter {
    background: url(../img/bg-04.jpg) top center no-repeat;
    color: #F0EFEB;
    position: relative;
}
#newsletter h2 {
    font-family: 'Addison West Flat', sans-serif;
    font-size: 4rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}
#newsletter h2 img {
    height: 5rem;
    vertical-align: bottom;
}
#newsletter p {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    line-height: 1;
}
#newsletter input {
    min-width: 35%;
}
#newsletter input,
#newsletter button {
    font-size: 1.5rem;
    font-weight: 200;
}

/* Contato */
#contato {
    background-color: #F0EFEB;
    overflow-x: hidden;
}
#infos {
    padding: 7.5rem !important;
}
#infos img {
    margin-bottom: 5rem;
}
#infos a {
    font-size: 2rem;
    color: #434244;
}
#infos a:hover {
    color: initial;
}
#horario {
    font-size: 2rem;
    line-height: 1;
    margin-top: 5rem;
}
#mapa {
    background: #000;
}

#googlemap {
    background: url(../img/bg-05.jpg) center no-repeat;
    position: absolute;
    z-index: 0;
}

#localizacao {
    z-index: 1;
    color: #FFF;
}
#localizacao h1 {
    font-family: 'Addison West Flat', sans-serif;
}
#localizacao img {
    height: 3rem;
    margin-bottom: .25rem;
}
#localizacao address {
    font-size: 1.5rem;
    line-height: 1;
}

#ampliado {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 100%;
    z-index: 1;
}

#ampliado iframe {
    filter: grayscale(1);
    z-index: 10;
}

#fechar {
    font-family: initial;
    font-size: 2rem;
    border-radius: 100%;
    border-top-right-radius: 0;
    background: #ff4500;
    width: 60px;
    height: 60px;
    line-height: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 10px;
    z-index: 20;
    color: #FFF;
    position: absolute;
    cursor: pointer;
}
#fechar:hover {
    top: 5px;
    right: 5px;
}