/* WQHD */
@media all and (min-width: 2560px) {
    #fritas {
        min-height: 60vh;
    }
}

/* Full HD */
@media all and (min-width: 1920px) {
    #sanduiches .item {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 25% !important;
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }
    #sobremesas {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    #sobremesas .item {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
        flex: 0 0 50% !important;
        max-width: 50% !important;
        min-height: 695px;
    }
    #bebidas {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    #cervejas {
        padding: 5rem 0;
    }
}

@media all and (max-width: 1920px) {
    #outros .item-title {
        font-size: 1.35rem;
    }
    #cervejas {
        padding: 3rem 0;
    }
}

@media all and (max-width: 1600px) {
    .item-wrap {
        border-width: 6px;
    }
    .item-title {
        font-size: 1.7rem;
        padding: .5rem .5rem .75rem;
    }
    .item-text {
        font-size: 1rem;
        padding: 1rem .5rem .5rem;
    }
}

@media all and (max-width: 1024px) {
    #infos {
        padding: 3rem!important;
    }
    #infos a, 
    #horario {
        font-size: 1.5rem;
    }
    #localizacao h1 {
        font-size: 2rem;
    }
    #localizacao address {
        font-size: 1.25rem;
    }
}

@media all and (max-width: 800px) {
    #nav {
        height: auto;
    }
    #nav .navbar-brand {
        width: 80px;
    }
    #intro h2 {
        font-size: 5rem;
    }
    #intro h3 {
        font-size: 2.5rem;
    }
    #intro a.btn {
        font-size: 2.5rem;
    }
    #sanduiches {
        height: auto;
    }
    .item-wrap {
        min-height: 320px;
    }
    #fritas {
        min-height: auto;
    }
    #fritas .item-group {
        align-self: flex-start;
    }
    #outros {
        height: auto;
    }
    #outros .item-wrap {
        min-height: initial;
    }
    #infos, #mapa {
        flex: 0 0 100%;
        max-width: 100%;
    }
    #infos {
        padding: 5rem 2rem!important;
    }
    #infos img {
        margin: 5rem auto;
        max-width: 70%;
    }
    #localizacao {
        padding: 5rem 3rem;
    }
}

@media all and (max-width: 600px) {
    #nav {
        padding: .5rem 1rem;
    }
    .section-title h2 {
        font-size: 2.5rem;
        margin: 1rem 1rem 0;
        padding: 1rem 0 0.5rem;
    }
    .item br {
        display: none;
    }
    #intro h2 {
        font-size: 3rem;
        line-height: 1;
        padding: 0 2.5rem;
        margin-top: 6rem;
    }
    #intro h2 br {
        display: none;
    }
    #intro h3 {
        font-size: 1.75rem;
        padding: 0 3rem;
        line-height: 1;
        margin: 2rem auto 3rem;
    }
    #intro a.btn {
        font-size: 1.35rem;
        padding: .75rem 1.75rem;
    }
    #milkshakes h2, 
    #cervejas h2 {
        font-size: 3rem;
    }
    #milkshakes p, 
    #cervejas p {
        font-size: 1.35rem;
    }
    #cervejas br {
        display: none;
    }
    #sobremesas, #bebidas {
        height: auto !important;
    }
    #sobremesas {
        margin-bottom: 3rem;
    }
    #sobremesas:after {
        content: none;
    }
    #sobremesas .section-title h2, 
    #bebidas .section-title h2 {
        margin: 1rem 1rem 0;
    }
    #bebidas {
        border-top: 1px solid #CCC;
    }
    #infos img {
        max-width: 100%;
    }
    #infos a,
    #horario, 
    #mapa h1 {
        font-size: 1.5rem;
    }
    #contato {
        height: auto;
    }
}

@media all and (max-width: 414px) {
    #nav:after {
        display: none;
    }
    #sanduiches h2 {
        flex-direction: column;
        align-items: baseline;
    }
    #adicionar {
        margin-top: 1rem;
    }
    #adicionais .galeria {
        max-width: 90%;
        margin: 5rem 5%;
        padding: 1rem 0;
    }
    #adicionais h3 {
        font-size: 1.15rem;
    }
    #adicionais p {
        padding: 0 .5rem;
        margin-top: .25rem;
        font-size: .8rem;
    }
    #adicionais .galeria > .col-sm-6 > div:last-of-type {
        border-bottom: 1px dotted #ccc;
        padding-bottom: 1rem;
    }
    #adicionais .col-sm-6:last-of-type div:last-of-type {
        border-bottom: none;
    }
    #adicionais .fechar {
        top: -20px;
        right: -20px;
        width: 40px;
        height: 40px;
        font-size: 1.25rem;
        font-weight: 700;
    }
    #outros .section-title, 
    #outros .galeria {
        padding: 0;
    }
    #contato .container-fluid.h-100 {
        height: auto !important;
    }
    #infos img {
        margin: 2rem;
    }
    #horario {
        margin-top: 2rem;
    }
    #horario, #infos a {
        font-size: 1.25rem;
    }
    #ampliado {
        height: calc(100vh - 146px) !important;
    }
}

@media all and (max-width: 320px) {
    .item br {
        display: initial;
    }
    #intro h2 {
        font-size: 2.65rem;
    }
    #intro h3 {
        font-size: 1.5rem;
    }
    #cervejas h2 {
        font-size: 2.65rem;
    }
    #cervejas p {
        font-size: 1.15rem;
    }
    #horario, #infos a {
        font-size: 1.15rem;
    }
    #localizacao {
        padding: 5rem 2rem;
    }
}