/* WQHD */
@media all and (min-width: 2560px) {
    #fritas {
        min-height: 60vh;
    }
}

/* Full HD */
@media all and (min-width: 1920px) {
    #nav {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    main .coluna {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
}

@media all and (max-width: 1920px) {
    #outros .item-title {
        font-size: 1.75rem;
    }
}

@media all and (max-width: 1600px) {
    .item-wrap {
        border-width: 6px;
    }
    .item-title {
        font-size: 1.7rem;
        padding: .5rem .5rem .75rem;
    }
    .item-text {
        font-size: 1rem;
        padding: 1rem .5rem .5rem;
    }
}

@media all and (max-width: 1024px) {
    #infos {
        padding: 3rem!important;
    }
    #infos a, 
    #horario {
        font-size: 1.5rem;
    }
    #localizacao h1 {
        font-size: 2rem;
    }
    #localizacao address {
        font-size: 1.25rem;
    }
}

@media all and (max-width: 800px) {
    #nav {
        background: transparent;
        height: auto;
    }
    #nav .navbar-brand {
        width: 80px;
    }
    #intro h2 {
        font-size: 5rem;
    }
    #intro h3 {
        font-size: 2.5rem;
    }
    #intro a.btn {
        font-size: 2.5rem;
    }
    #sanduiches {
        height: auto;
    }
    .item-wrap {
        min-height: 320px;
    }
    #fritas {
        min-height: auto;
    }
    #fritas .item-group {
        align-self: flex-start;
    }
    #outros {
        height: auto;
    }
    #outros .item-wrap {
        min-height: initial;
    }
    #infos, #mapa {
        flex: 0 0 100%;
        max-width: 100%;
    }
    #infos {
        padding: 5rem !important;
    }
    #infos img {
        margin: 5rem;
        max-width: 70%;
    }
    #localizacao {
        padding: 5rem 3rem;
    }
}

@media all and (max-width: 600px) {
    #intro h2 {
        font-size: 2.25rem;
        line-height: 1;
        padding: 0 2.5rem;
        margin-top: 6rem;
    }
    #intro h2 br {
        display: none;
    }
    #intro h3 {
        font-size: 1.25rem;
        padding: 0 5rem;
        line-height: 1;
        margin: 2rem auto;
    }
    #intro a.btn {
        font-size: 1.25rem;
        padding: .75rem 1.75rem;
    }
    #milkshakes h2 {
        font-size: 3rem;
    }
    #milkshakes p {
        font-size: 2rem;
    }
    #sobremesas, #bebidas {
        height: auto !important;
    }
    #sobremesas {
        margin-bottom: 3rem;
    }
    #sobremesas:after {
        content: none;
    }
    #bebidas {
        border-top: 1px solid #CCC;
    }
    #infos img {
        max-width: 100%;
    }
    #infos a,
    #horario, 
    #mapa h1 {
        font-size: 1.5rem;
    }
}

@media all and (max-width: 414px) {
    #contato .container-fluid.h-100 {
        height: auto !important;
    }
    #infos img {
        margin: 2rem;
    }
    #horario {
        margin-top: 2rem;
    }
    #horario, #infos a {
        font-size: 1.25rem;
    }
    #ampliado {
        height: calc(100vh - 146px) !important;
    }
}